/* app css stylesheet */
/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}*/

#detail {
  margin-top: 80px;
}

.build-time::before {
  content: '\e94f';
  font-family: "fontawesomer";
  font-style: normal;
  font-weight: normal;
  speak: none;
  margin-right: 10px;
}
.custom-true {
  color: blue;
}
.custom-true::before {
  content: '\e863';
  font-family: "fontawesomer";
  font-style: normal;
  font-weight: normal;
  speak: none;
  margin-right: 10px;
}
.custom-false {
  color: green;
}
.custom-false::before {
  content: '\e8c6';
  font-family: "fontawesomer";
  font-style: normal;
  font-weight: normal;
  speak: none;
  margin-right: 10px;
}
.campaign-thumb {
  height: 200px;
}
.campaign-thumb p {
  text-align: center;
}


.fadepage.ng-enter, .fadepage.ng-leave {
  -webkit-transition: .4s linear all; /* Chrome */
  transition: .4s linear all;
}
.fadepage.ng-enter, .fadepage.ng-leave.ng-leave-active {
	opacity: 0;
}
.fadepage.ng-enter.ng-enter-active, .fadepage.ng-leave {
	opacity: 1;
}
