/*--------------------------------*/
/*    ANIMATIONS
/*--------------------------------*/
@keyframes gradientbganim {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@keyframes bganim {
   0%{background-color:$primary-color}
   50%{background-color:$secondary-color}
   100%{background-color:$primary-color}
}

/* -----Page Change----- */
.slidepage-l, .slidepage-r, .fadepage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slidepage-l.ng-enter, .slidepage-r.ng-enter {
  transition: all .4s ease 450ms;
}
.slidepage-l.ng-leave, .slidepage-r.ng-leave {
  transition: all .4s ease;
}
.fadepage.ng-enter, .fadepage.ng-leave {
  transition: all 1.3s ease;
}

.if-fade.ng-enter {
  transition:0.5s ease all;
  opacity:0;
}
.if-fade.ng-enter.ng-enter-active {
  opacity:1;
}
.if-fade.ng-leave {
  transition:0.5s ease all;
  opacity:1;
}
.if-fade.ng-leave.ng-leave-active {
  opacity:0;
}

/* Fade Page */
.fadepage.ng-enter, .fadepage.ng-leave-active { opacity: 0; }
.fadepage.ng-enter-active, .fadepage.ng-leave { opacity: 1; }
/* Slide Left */
.slidepage-l.ng-enter { left: 100%; }
.slidepage-l.ng-enter-active, .slidepage-l.ng-leave { left: 0; }
.slidepage-l.ng-leave-active { left: -110%; }
/* Slide Right */
.slidepage-r.ng-enter { left: -100%; }
.slidepage-r.ng-enter-active, .slidepage-r.ng-leave { left: 0; }
.slidepage-r.ng-leave-active { left: 110%; }

/* -----Fade Items In On Load----- */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-onload {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.5s;
  animation-delay: 0.1s;
}

/* ------------------
 * GRID ANIMATIONS
 * POSTPONED FOR NOW
 * -----------------*/

/* -----Filtering----- */
// .filterpop.ng-enter,
// .filterpop.ng-leave,
// .filterpop.ng-move {
//   transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
//   position: relative;
//   display: block;
//   overflow: hidden;
//   text-overflow: clip;
//   white-space:nowrap;
// }
// .filterpop.ng-leave.filterpop.ng-leave-active,
// .filterpop.ng-enter {
//   opacity: 0;
//   width: 0px;
//   height: 0px;
// }
// .filterpop.ng-enter.filterpop.ng-enter-active,
// .filterpop.ng-leave {
//   opacity: 1;
//   width: 150px;
//   height: 30px;
// }

// .grid {
//   transition: all 300ms ease;
// }
// .grid.ng-leave {
//   transition: all ease 300ms;
// }
// .grid.ng-leave.ng-leave-active {
//   transform: scale(0.5);
//   opacity: 0;
// }
// .grid.ng-enter {
//   transition: all ease 300ms;
//   transition-delay: 400ms;
//   transform: scale(0.5);
//   opacity: 0;
// }
// .grid.ng-enter.ng-enter-active {
//   transform: scale(1);
//   opacity: 1;
// }
