/*--------------------------------*/
/*    VARIABLES & MIXINS
/*--------------------------------*/
$primary-color: #508ac5;
$secondary-color: #5ec1e9;
$dark-grey: #333333;
$light-grey: #f6f6f6;
$font-stack: 'Lato', sans-serif;

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@mixin img-responsive() {
  display: block;
  max-width: 100%;
  height: auto;
}

/*--------------------------------*/
/*    GENERAL
/*--------------------------------*/
body {
  overflow-x: hidden;
}
.loading-logo {
  @include center-block();
}
.heart-icon {
  color: red;
  &::before {
    content: "\e8d5";
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
  }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*--------------------------------*/
/*    MAIN PAGE
/*--------------------------------*/
#main {
  // #topbar {
  //   position: absolute;
  //   top: 0;
  //   z-index: 1000;
  //   width: 100%;
  // }
  header {
    background-color: $primary-color;
    width: 100%;
    float: left;
    #logo {
      max-width: 200px;
      margin-top: -7px;
      display: inline-block;
    }
  }
  #filters {
    height: 50px;
    background-color: $light-grey;
  }
  #thumbnail-gallery {
    padding: 40px;
    min-height: 415px;
  }
  footer {
    height: 40px;
    background-color: $dark-grey;
    color: #afafaf;
    text-align: center;
    padding-top: 12px;
    #logo {
      max-width: 100px;
      margin-top: -7px;
      display: inline-block;
    }
  }
}

@media (min-width: 768px) {
  .campaign-thumbnail
  {
    width: 33.3333%;
    float: left;
  }
}
.campaign-thumbnail {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}



@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .navbar-brand {
    display: block;
    text-align: center;
    float: none;
  }
}

.campaign-thumb {
  text-align: center;
  margin-bottom: 10%;
  a {
    text-decoration: none;
    display: inline-block;
  }
}
.campaign-thumb a:hover, .campaign-thumb a:focus {
  text-decoration: none;
}
.campaign-thumb a:hover h3, .campaign-thumb a:focus h3 {
  text-decoration: underline;
}

h1 {
  font-family: $font-stack;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: $primary-color;
}
h2 {
  font-family: $font-stack;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: $secondary-color;
}
h3 {
  font-family: $font-stack;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: $primary-color;
}
h4 {
  font-family: $font-stack;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: $secondary-color;
}

select::-ms-expand {
  /* for IE 11 */
  display: none;
}

select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width: 0\0) {
  select {
    background: none;
    padding: 5px;
  }
}


/*--------------------------------*/
/*    DETAIL PAGE
/*--------------------------------*/
#detail {
  height: 100%;
  .sidebar {
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    background-color: $light-grey;
    -webkit-box-shadow: 0px 10px 10px black;
    -moz-box-shadow: 0px 10px 10px black;
    box-shadow: 0px 10px 10px black;
    overflow-y: auto;
    z-index: 1000;
  }
  section {
    padding: 15px;
  }
  header {
    background-color: $dark-grey;
    width: 100%;
    height: 86px;
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: inline-block;
      &::before {
        content: '\e963';
        font-family: "fontawesomer";
        font-style: normal;
        font-size: 30px;
        color: #FFF;
        speak: none;
        display: inline;
        vertical-align: middle;
        line-height: normal;
        padding: 0 2px 2px 5px;
        position: absolute;
        top: 30px;
      }
    }
    img {
      @include center-block();
      padding-left: 8px;
      max-width: 200px;
    }
    h1 {
      font-size: 16px;
      text-align: center;
      color: #FFF;
      margin: 0;
    }
  }
  #template-head {
    img {
      @include center-block();
      @include img-responsive();
    }
    h2 {
      font-size: 20px;
      margin: 0 0 5px 0;
      color: $dark-grey;
    }
    h3 {
      font-size: 16px;
      margin: 0 0 20px 0;
      color: $dark-grey;
    }
  }
  #template-detail {
    h4 {
      font-size: 16px;
      color: $dark-grey;
    }
  }
  #other-campaigns {
    h3 {
      font-size: 20px;
      margin: 0 0 15px 0;
      color: $dark-grey;
    }
  }
  #campaign-viewer {
    margin-left: 0;
    height: 100%;
    #campaign-frame {
      height: 100%;
      width: 100%;
      border: none;
      display: none;
    }
    #iframe-loader {
      padding-top: 100px;
      .sk-fading-circle {
        margin: auto;
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (min-width: 768px) {
  #detail {
    height: 100%;
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      display: block;
      z-index: 1;
    }
    header {
      width: 100%;
      height: 86px;
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: inline-block;
        &::before {
          content: '\e963';
          font-family: "fontawesomer";
          font-style: normal;
          font-size: 30px;
          color: #FFF;
          speak: none;
          display: inline;
          vertical-align: middle;
          line-height: normal;
          padding: 0 2px 2px 5px;
          position: absolute;
          top: 30px;
        }
      }
    }
    #template-head {
      float: left;
      width: 35%;
      margin-left: 15%;
      img {
        float: left;
        @include img-responsive();
      }
      h2 {
        font-size: 20px;
        margin: 0 0 5px 0;
        color: $dark-grey;
      }
      h3 {
        font-size: 16px;
        margin: 0 0 20px 0;
        color: $dark-grey;
      }
    }
    #template-detail {
      width: 30%;
      float: left;
      h4 {
        font-size: 16px;
        color: $dark-grey;
      }
    }
    #other-campaigns {
      h3 {
        font-size: 20px;
        margin: 0 0 15px 0;
        color: $dark-grey;
      }
    }
    #campaign-viewer {
      margin-left: 0px;
      height: 100%;
      #campaign-frame {
        height: 100%;
        width: 100%;
        border: none;
        display: none;
      }
      #iframe-loader {
        padding-top: 100px;
        .sk-fading-circle {
          margin: auto;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media (min-width: 1068px) {
  #detail {
    height: 100%;
    .sidebar {
      border: none;
      box-sizing: border-box;
      width: 300px;
      height: 100%;
      position: absolute;
      padding: 0;
      margin: 0;
      display: block;
      background-color: #FFF;
      -webkit-box-shadow: 0px 0px 20px black;
      -moz-box-shadow: 0px 0px 20px black;
      box-shadow: 0px 0px 20px black;
      overflow-y: auto;
      z-index: 1000;
    }
    section {
      padding: 15px;
    }
    header {
      background-color: $dark-grey;
      width: 100%;
      height: 86px;
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: inline-block;
        &::before {
          content: '\e963';
          font-family: "fontawesomer";
          font-style: normal;
          font-size: 30px;
          color: #FFF;
          speak: none;
          display: inline;
          vertical-align: middle;
          line-height: normal;
          padding: 0 2px 2px 5px;
          position: absolute;
          top: 30px;
        }
      }
      img {
        @include center-block();
        padding-left: 8px;
        max-width: 200px;
      }
      h1 {
        font-size: 16px;
        text-align: center;
        color: #FFF;
        margin: 0;
      }
    }
    #template-head {
      background-color: $light-grey;
      float: none;
      width: 100%;
      margin: 0;
      img {
        float:none;
        @include center-block();
      }
      h2 {
        font-size: 20px;
        margin: 0 0 5px 0;
        color: $dark-grey;
      }
      h3 {
        font-size: 16px;
        margin: 0 0 20px 0;
        color: $dark-grey;
      }
    }
    #template-detail {
      float: none;
      width: 100%;
      margin: 0;
      h4 {
        font-size: 16px;
        color: $dark-grey;
      }
    }
    #other-campaigns {
      background-color: $light-grey;
      h3 {
        font-size: 20px;
        margin: 0 0 15px 0;
        color: $dark-grey;
      }
    }
    #campaign-viewer {
      margin-left: 300px;
      height: 100%;
      #campaign-frame {
        height: 100%;
        width: 100%;
        border: none;
        display: none;
      }
      #iframe-loader {
        padding-top: 100px;
        .sk-fading-circle {
          margin: auto;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.crontainer {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .crontainer {
    width: 750px;
  }
}
@media (min-width: 980px) {
  .crontainer {
    width: 970px;
  }
}

.build-time::before {
  content: '\e94f';
  font-family: "fontawesomer";
  font-style: normal;
  font-weight: normal;
  speak: none;
  margin-right: 10px;
}
.custom-true {
  color: blue;
  &::before{
    content: '\e863';
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    speak: none;
    margin-right: 10px;
  }
}
.custom-false {
  color: green;
  &::before{
    content: '\e8c6';
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    speak: none;
    margin-right: 10px;
  }
}

/*--------------------------------*/
/*    ANIMATIONS
/*--------------------------------*/
/* -----Filtering----- */
.filterpop.ng-enter,
.filterpop.ng-leave,
.filterpop.ng-move {
  -webkit-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -moz-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -ms-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -o-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}
.filterpop.ng-leave.filterpop.ng-leave-active,
.filterpop.ng-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.filterpop.ng-enter.filterpop.ng-enter-active,
.filterpop.ng-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

/* -----Page Change----- */
.slidepage-l, .slidepage-r, .fadepage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slidepage-l.ng-enter, .slidepage-r.ng-enter {
    -webkit-transition: all .4s ease 450ms;
    transition: all .4s ease 450ms;
}
.slidepage-l.ng-leave, .slidepage-r.ng-leave {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.fadepage.ng-enter, .fadepage.ng-leave {
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
/* Fade Page */
.fadepage.ng-enter, .fadepage.ng-leave-active { opacity: 0; }
.fadepage.ng-enter-active, .fadepage.ng-leave { opacity: 1; }
/* Slide Left */
.slidepage-l.ng-enter { left: 100%; }
.slidepage-l.ng-enter-active, .slidepage-l.ng-leave { left: 0; }
.slidepage-l.ng-leave-active { left: -110%; }
/* Slide Right */
.slidepage-r.ng-enter { left: -100%; }
.slidepage-r.ng-enter-active, .slidepage-r.ng-leave { left: 0; }
.slidepage-r.ng-leave-active { left: 110%; }

/* -----Fade Items In On Load----- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-onload {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* -----Spin Kit Loader ---- */
.sk-fading-circle {
  margin: 100px auto 20px;
  width: 80px;
  height: 80px;
  position: relative;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
