/*--------------------------------*/
/*    VARIABLES & MIXINS
/*--------------------------------*/
$primary-color: #013C80;
$secondary-color: #009edb;
$link-hover: #0b3765;
$dark-grey: #333;
$mid-grey: #afafaf;
$light-grey: #f5f5f5;
$border-color: #d3d3d3;
$font-stack: 'Lato', sans-serif;

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@mixin img-responsive() {
  display: block;
  max-width: 100%;
  height: auto;
}

/*--------------------------------*/
/*    GENERAL
/*--------------------------------*/
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.428;
  color: $dark-grey;
  font-family: $font-stack;
}
p {
  margin: 0 0 10px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
h1, h2, h3 {
  margin: 20px 0 10px 0;
}
h4, h5, h6 {
  margin: 10px 0;
}
h1, h3 { color: $primary-color; }
h2, h4 { color: $secondary-color; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
a {
  color: $primary-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: $link-hover;
  }
}
input {
 outline:none;
}
.loading-logo {
  @include center-block();
}
.heart-icon {
  color: red;
  &::before {
    content: "\e8d5";
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
  }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
#pageLoad {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
}

/*--------------------------------*/
/*    MAIN PAGE
/*--------------------------------*/
#main {
  height: 100%;
  .wrapme {
    min-height: 100%;
    margin: 0 auto -40px;
  }
  header {
    padding: 5px;
    #navbar-header {
      .webq-logo {
        max-width: 200px;
        @include center-block();
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
    #navbar-search {
      .search-wrapper {
        padding: 2px 32px 2px 2px;
        #quick-search {
          border: none;
          width: 100%;
          height: 30px;
          border-radius: 20px;
          padding: 2px 15px;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }
    background-color: $secondary-color;
    width: 100%;
  }
  #filters {
    .filter-dropdown {
      padding: 2px 0;
      position: relative;
      min-height: 1px;
    }
    padding: 5px;
    width: 100%;
    background-color: $light-grey;
  }
  #thumbnail-gallery {
    padding: 40px;
    min-height: 100%;
    #no-results {
      font-weight: 700;
      text-align: center;
      width: 100%;
      position: relative;
    }
    .campaign-thumbnail {
      text-align: center;
      margin-bottom: 5%;
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
      a {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        .thumbnail-wrapper {
          box-shadow: -2px 5px 10px -2px rgba(0,0,0,0.4);
          border: 2.5px solid $light-grey;
          border-radius: 5px 5px 0 0;
          transition: all .1s ease;
          .faux-browser {
            height: 17px;
            width: 100%;
            background-color: $light-grey;
            img {
              width: 30px;
              height: 10px;
              margin-top: 3px;
              float: left;
              margin-left: 7px;
            }
          }
          img {
            @include center-block();
            @include img-responsive();
          }
        }
        h3 {
          transition: all .1s ease;
        }
        &:hover, &:focus {
          .thumbnail-wrapper {
            box-shadow: -10px 13px 10px -2px rgba(0,0,0,0.4);
            margin-top: -8px;
          }
          h3 {
            margin-top: 28px;
            text-decoration: underline;
          }
        }
      }
    }
  }
  footer {
    clear: both;
    height: 40px;
    width: 100%;
    background-color: $dark-grey;
    color: $mid-grey;
    text-align: center;
    padding-top: 12px;
    .webq-logo {
      max-width: 100px;
      margin-top: -6.5px;
      padding-left: 3px;
      display: inline-block;
    }
  }
}
@media (min-width: 768px) {
  #main {
    header {
      #navbar-header {
        float: left;
        width: 50%;
        .webq-logo {
          margin: 4px 0px 3px 10px;
          display: inline-block;
        }
      }
      #navbar-search {
        float: right;
        width: 30%;
        .search-wrapper {
          padding: 16px 35px 0 0;
        }
      }
      float: left;
      clear: both;
      .webq-logo {
        max-width: 200px;
        margin-top: -7px;
        display: inline-block;
      }
    }
    #filters {
      float: left;
      clear: both;
      padding: 10px 15%;
      .filter-dropdown {
        padding: 0 5px;
        float: left;
        width: 33%;
      }
    }
    #thumbnail-gallery {
      clear: both;
      .campaign-thumbnail {
        margin-bottom: 8%;
        width: 33.3333%;
        float: left;
      }
    }
  }
}
select::-ms-expand {
  /* for IE 11 */
  display: none;
}
select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width: 0\0) {
  select {
    background: none;
    padding: 5px;
  }
}

/*--------------------------------*/
/*    DETAIL PAGE
/*--------------------------------*/
#detail {
  height: 100%;
  ul {
    padding: 0 0 0 35px;
    margin-bottom: 10px
  }
  .sidebar {
    border: none;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    background-color: #FFF;
    -webkit-box-shadow: 0 10px 15px #555;
    -moz-box-shadow: 0 10px 15px #555;
    box-shadow: 0 10px 15px #555;
    overflow-y: auto;
    z-index: 1000;
  }
  section {
    padding: 15px;
  }
  header {
    background-color: $secondary-color;
    width: 100%;
    height: 100px;
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: inline-block;
      &::before {
        content: '\e963';
        font-family: "fontawesomer";
        font-style: normal;
        font-size: 30px;
        color: #FFF;
        speak: none;
        display: inline;
        vertical-align: middle;
        line-height: normal;
        padding: 0 2px 2px 5px;
        position: absolute;
        top: 30px;
      }
    }
    img {
      @include center-block();
      padding-left: 8px;
      max-width: 215px;
      margin: 5px auto 0;
    }
    h1 {
      font-size: 16px;
      text-align: center;
      color: #FFF;
      margin: 0;
    }
  }
  #template-head {
    text-align: center;
    img {
      @include center-block();
      @include img-responsive();
      border: 1px solid $border-color;
    }
    h2 {
      font-size: 20px;
      margin: 0 0 5px 0;
      color: $secondary-color;
    }
    h3 {
      font-size: 16px;
      margin: 0 0 20px 0;
      color: $primary-color;
    }
  }
  #template-detail {
    h4 {
      font-size: 16px;
      color: $secondary-color;
    }
  }
  #other-campaigns {
    border-top: 1px solid $border-color;
    background-color: $light-grey;
    margin-top: 10px;
    h3 {
      font-size: 20px;
      margin: 0 0 15px 0;
      color: $primary-color;
    }
    ul {
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        overflow: auto;
        a {
          text-decoration: none;
          padding: 7px 2px;
          display: inline-block;
          width: 100%;
          height: 100%;
            &:hover, &:focus {
              color: $link-hover;
              text-decoration: underline;
            }
        }
        img {
          float: left;
          width: 40px;
          height: auto;
          margin: 0 14px 0 0;
          border: 1px solid $border-color;
        }
        span {
          line-height: 40px;
        }
      }
    }
  }
  #scroll-down {
    color: #FFF;
    padding: 8px 0 0 0;
    margin: 0;
    bottom: 0;
    clear: both;
    width: 100%;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    background-color: $secondary-color;
  }
  #campaign-viewer {
    margin-left: 0;
    height: 100%;
    #campaign-frame {
      height: 100%;
      width: 100%;
      border: none;
      display: none;
    }
    #iframe-loader {
      padding-top: 100px;
      .sk-fading-circle {
        margin: auto;
        width: 40px;
        height: 40px;
      }
    }
  }
}
@media (min-width: 768px) {
  #detail {
    #template-head {
      text-align: left;
      float: left;
      width: 35%;
      margin-left: 7.5%;
      img {
        float: left;
      }
    }
    #template-detail {
      margin-top: 60px;
      width: 50%;
      float: left;
      clear: right;
    }
    #other-campaigns {
      margin-top: 0;
      border: none;
      width: 85%;
      float: left;
      clear: left;
      margin-left: 7.5%;
      background-color: #FFF;
      h3 {
        font-size: 18px;
        color: $secondary-color;
      }
      ul {
        background-color: $light-grey;
        padding: 5px 20px 0 20px;
        li {
          display: inline-block;
          width: 33%;
          a {
            padding: 20px 20px 0 20px;
            display: block;
          }
          img {
            float: none;
            width: 100%;
            margin: 0 0 10px 0;
          }
          span {
            display: block;
            text-align: center;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (min-width: 1068px) {
  #detail {
    .sidebar {
      width: 300px;
      height: 100%;
      position: absolute;
      -webkit-box-shadow: 0px 0px 20px black;
      -moz-box-shadow: 0px 0px 20px black;
      box-shadow: 0px 0px 20px black;
      z-index: 1000;
    }
    #template-head {
      background-color: #FFF;
      float: none;
      width: 100%;
      margin: 0;
      img {
        float:none;
      }
    }
    #template-detail {
      float: none;
      width: 100%;
      margin: 0;
      background-color: #FFF;
    }
    #other-campaigns {
      margin-left: 0;
      clear: none;
      margin-top: 10px;
      border-top: 1px solid $border-color;
      float: none;
      width: 100%;
      background-color: $light-grey;
      border-top: 1px solid $border-color;
      h3 {
        font-size: 20px;
        color: $primary-color;
      }
      ul {
        background-color: none;
        padding: 0;
        li {
          display: block;
          width: auto;
          a {
            padding: 7px 2px;
            display: inline-block;
          }
          img {
            float: left;
            width: 40px;
            margin: 0 14px 0 0;
          }
          span {
            display: inline;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
    #scroll-down {
      display: none;
    }
    #campaign-viewer {
      margin-left: 300px;
    }
  }
}
.build-time::before {
  content: '\e94f';
  font-family: "fontawesomer";
  font-style: normal;
  font-weight: normal;
  speak: none;
  margin-right: 10px;
}
.custom-true {
  color: blue;
  &::before{
    content: '\e863';
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    speak: none;
    margin-right: 10px;
  }
}
.custom-false {
  color: green;
  &::before{
    content: '\e8c6';
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    speak: none;
    margin-right: 10px;
  }
}

/*--------------------------------*/
/*    TAG TOOL
/*--------------------------------*/
#tagtool {
  margin: 10px auto;
  max-width: 600px;
  .webq-logo {
    display: block;
    margin: 5px auto;
  }
  .fgroup {
    margin: 10px 5px;
    label {
      display: block;
      color: $dark-grey;
      font-size: 15px;
      margin: 5px 0;
    }
    input[type="text"], select {
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }
    input[type="radio"] {

    }
  }
  pre {
    background-color: $dark-grey;
    color: #FFF;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
  }
}

/*--------------------------------*/
/*    ANIMATIONS
/*--------------------------------*/
/* -----Filtering----- */
.filterpop.ng-enter,
.filterpop.ng-leave,
.filterpop.ng-move {
  -webkit-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -moz-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -ms-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -o-transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  transition: 150ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}
.filterpop.ng-leave.filterpop.ng-leave-active,
.filterpop.ng-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.filterpop.ng-enter.filterpop.ng-enter-active,
.filterpop.ng-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

/* -----Page Change----- */
.slidepage-l, .slidepage-r, .fadepage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slidepage-l.ng-enter, .slidepage-r.ng-enter {
    -webkit-transition: all .4s ease 450ms;
    transition: all .4s ease 450ms;
}
.slidepage-l.ng-leave, .slidepage-r.ng-leave {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.fadepage.ng-enter, .fadepage.ng-leave {
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
/* Fade Page */
.fadepage.ng-enter, .fadepage.ng-leave-active { opacity: 0; }
.fadepage.ng-enter-active, .fadepage.ng-leave { opacity: 1; }
/* Slide Left */
.slidepage-l.ng-enter { left: 100%; }
.slidepage-l.ng-enter-active, .slidepage-l.ng-leave { left: 0; }
.slidepage-l.ng-leave-active { left: -110%; }
/* Slide Right */
.slidepage-r.ng-enter { left: -100%; }
.slidepage-r.ng-enter-active, .slidepage-r.ng-leave { left: 0; }
.slidepage-r.ng-leave-active { left: 110%; }

/* -----Fade Items In On Load----- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-onload {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* -----Spin Kit Loader ---- */
.sk-fading-circle {
  margin: 100px auto 20px;
  width: 80px;
  height: 80px;
  position: relative;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
