/*--------------------------------*/
/*    GENERAL
/*--------------------------------*/
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.428;
  color: $dark-grey;
  font-family: $font-stack;
}
p {
  margin: 0 0 10px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
h1, h2, h3 {
  margin: 20px 0 10px 0;
}
h4, h5, h6 {
  margin: 10px 0;
}
h1, h3 { color: $primary-color; }
h2, h4 { color: $secondary-color; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
a {
  color: $primary-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: $link-hover;
  }
}
input {
 outline:none;
}
.heart-icon {
  color: red;
  &::before {
    content: "\e8d5";
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
  }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
#pageLoad {
    position: absolute;
    width: 100%;
    height: 100%;
    @include anim-bg();
    transition: opacity 0.3s ease;
    .loading-logo {
      display: block;
      width: 50%;
      @include center-block();
    }
    #svg-splash {
      display: block;
      width: 95%;
      @include center-block();
    }
  span {
    display: block;
    margin: auto;
    padding-top: 3px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    font-family: $font-stack;
    display: block;
    width: 100%;
  }
}
.load-wrap {
  width: 100vw;
  height: 170vw; /* height:width ratio = 2/1 = 2.00  */
  max-height: 100vh;
  max-width: 1/1.7*100vh; /* 1/2 = 0.500 */
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  overflow: hidden;
}
#skip-it {
  background: none;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
