/*--------------------------------*/
/*    GENERAL
/*--------------------------------*/
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.428;
  color: $dark-grey;
  font-family: $font-stack;
}
p {
  margin: 0 0 10px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
h1, h2, h3 {
  margin: 20px 0 10px 0;
}
h4, h5, h6 {
  margin: 10px 0;
}
h1, h3 { color: $primary-color; }
h2, h4 { color: $secondary-color; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
a {
  color: $primary-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: $link-hover;
  }
}
input {
 outline:none;
}
.heart-icon {
  color: red;
  &::before {
    content: "\e8d5";
    font-family: "fontawesomer";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
  }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
#pageLoad {
    position: absolute;
    width: 100%;
    height: 100%;
    @include anim-bg();
    transition: opacity 0.3s ease;
    overflow: hidden;
    .loading-logo {
      display: block;
      width: 50%;
      @include center-block();
    }
    #svg-splash {
      display: block;
      width: 95%;
      @include center-block();
    }
  span {
    display: block;
    margin: auto;
    padding-top: 3px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    font-family: $font-stack;
    display: block;
    width: 100%;
  }
}
.load-wrap {
  width: 100vw;
  height: ($splash-aspect-h/$splash-aspect-w)*100vw; /* height:width ratio */
  max-height: 100vh;
  max-width: ($splash-aspect-w/$splash-aspect-h)*100vh; /* height:width ratio */
  margin: 0 auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  overflow: hidden;
  padding: 15px;
}
#skip-it {
  background: none;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
$btn-time: 0.4s;
.btn {
  margin: 13px 0 0 0;
  font-size: 15px;
  font-weight: light;
  text-align: center;
  display: block;
  background: none;
  color: $secondary-color;
  vertical-align: middle;
  position: relative;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding: 0;
  transition: border-color $btn-time, background-color $btn-time;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border: 1px solid;
  &:link, &:visited, &:active {
    color: $secondary-color;
  }
  &:focus {
    outline: none;
  }
  &::after {
    content: '';
    @include icon-set();
    font-weight: light;
    position: absolute;
    font-size: 18px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 25%, 0);
  }
  &::after, > span {
    padding: 6px 0;
    transition: transform $btn-time, opacity $btn-time;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  > span {
    display: block;
    vertical-align: middle;
  }
  .no-touch &:hover {
    border-color: $primary-color;
    background-color: $primary-color;
    &::after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    > span {
      opacity: 0;
      transform: translate3d(0, -25%, 0);
    }
  }
}
.btn-select::after {
  content: '\e8e7';
}
.btn-view::after {
  content: '\e905';
}
.btn-clear::after {
  content: '\e8eb';
}
