#pageLoad {
    position: absolute;
    width: 100%;
    height: 100%;
    @include anim-bg();
    transition: opacity 0.3s ease;
    overflow: hidden;
    .loading-logo {
      display: block;
      width: 50%;
      @include center-block();
    }
    #svg-splash {
      display: block;
      width: 95%;
      @include center-block();
    }
  span {
    display: block;
    margin: auto;
    padding-top: 3px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    font-family: $font-stack;
    display: block;
    width: 100%;
  }
}
.load-wrap {
  width: 100vw;
  height: ($splash-aspect-h/$splash-aspect-w)*100vw; /* height:width ratio */
  max-height: 100vh;
  max-width: ($splash-aspect-w/$splash-aspect-h)*100vh; /* height:width ratio */
  margin: 0 auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  overflow: hidden;
  padding: 15px;
}
#skip-it {
  background: none;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.loading-text {
  padding-top: 3px;
  span {
    text-transform: uppercase;
  }
}
#divisionSelectModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 75, 75, 0.5);
  a.btn-select {
    color: #fff;
    &::after {
      color: #666;
    }
  }
  a.btn-select:hover {
    border-color: #fff;
    background-color: #fff;
  }
  h1 {
    margin: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
  }
  select {
    background-color: #fff;
  }
}
.division-select-wrap {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #fff;
}
