/*--------------------------------*/
/*    MAIN PAGE
/*--------------------------------*/
#main {
  height: 100%;
  .wrapme {
    min-height: 100%;
    margin: 0 auto -40px;
  }
  header {
    width: 100%;
    background-color: $secondary-color;
    padding: 5px;
    #navbar-header {
      .webq-logo {
        max-width: 200px;
        @include center-block();
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
    #navbar-search {
      .search-wrapper {
        padding: 2px 32px 2px 2px;
        #quick-search {
          border: none;
          width: 100%;
          height: 30px;
          border-radius: 20px;
          padding: 2px 15px;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }
  }
  #banner > div > img {
      width: 100%;
      padding: 5%;
      background-color: #fff;
  }
  #filters {
    .filter-dropdown {
      padding: 2px 0;
      position: relative;
      min-height: 1px;
    }
    padding: 5px;
    width: 100%;
    background-color: $light-grey;
  }
  #thumbnail-gallery {
    padding: 40px;
    min-height: 100%;
    #no-results {
      font-weight: 700;
      text-align: center;
      width: 100%;
      position: relative;
      padding-bottom: 20px;
      .btn {
        width: 100%;
        max-width: 300px;
        margin: auto;
      }
    }
    #campaign-listing {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
      height: auto;
    }
    .campaign-thumbnail {
      text-align: center;
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 5%;
      a {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        .thumbnail-wrapper {
          box-shadow: -2px 5px 10px -2px rgba(0,0,0,0.4);
          border: 2.5px solid $light-grey;
          border-radius: 5px 5px 0 0;
          transition: all .1s ease;
          .faux-browser {
            height: 17px;
            width: 100%;
            background-color: $light-grey;
            img {
              width: 30px;
              height: 10px;
              margin-top: 3px;
              float: left;
              margin-left: 7px;
            }
          }
          img {
            @include center-block();
            @include img-responsive();
          }
        }
        h3 {
          transition: all .1s ease;
        }
        &:hover, &:focus {
          .thumbnail-wrapper {
            box-shadow: -10px 13px 10px -2px rgba(0,0,0,0.4);
            margin-top: -8px;
          }
          h3 {
            margin-top: 28px;
            text-decoration: underline;
          }
        }
      }
    }
  }
  footer {
    clear: both;
    height: 40px;
    width: 100%;
    background-color: $dark-grey;
    color: $mid-grey;
    text-align: center;
    padding-top: 12px;
    .webq-logo {
      max-width: 100px;
      margin-top: -6.5px;
      padding-left: 3px;
      display: inline-block;
    }
  }
}
@media (min-width: 768px) {
  #main {
    header {
      #navbar-header {
        float: left;
        width: 50%;
        .webq-logo {
          margin: 4px 0px 3px 10px;
          display: inline-block;
        }
      }
      #navbar-search {
        float: right;
        width: 30%;
        .search-wrapper {
          padding: 16px 35px 0 0;
        }
      }
      float: left;
      clear: both;
      .webq-logo {
        max-width: 200px;
        margin-top: -7px;
        display: inline-block;
      }
    }
    #banner > div > img {
        width: 100%;
        padding:5% 20%;
        background-color: #fff;
    }
    #filters {
      float: left;
      clear: both;
      padding: 10px 15%;
      .filter-dropdown {
        padding: 0 5px;
        float: left;
        width: 33%;
      }
    }
    #thumbnail-gallery {
      clear: both;
      .campaign-thumbnail {
        width: 33.3333%;
        float: left;
      }
    }
  }
}
select::-ms-expand {
  /* for IE 11 */
  display: none;
}
select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width: 0\0) {
  select {
    background: none;
    padding: 5px;
  }
}
