<div id="detail">
  <div class="sidebar">
    <header>
      <a ng-click="detail.slide('slidepage-r');" href="#/">
        <img src="http://hcawebservices.com/contentAsset/raw-data/4de1c507-0449-4102-8aca-57a220d7c5f9/knockOutLogo" alt="HCA Web-Q" />
        <h1>{{appName}}</h1>
      </a>
    </header>
    <section id="template-head">
      <h2>{{detail.template.title}}</h2>
      <h3>{{detail.campaign.title}}</h3>
      <img src="http://web-q-hospital.prod.ehc.com/global/webq/landing-page-wizard/screenshots/{{detail.campaign.id}}-d.png" />
    </section>
    <section id="template-detail">
      <p>{{detail.template.description}}</p>
      <h4>Features</h4>
      <ul>
        <li ng-repeat="f in detail.template.features">{{f}}</li>
      </ul>
      <h4 class="build-time">Build Time: {{detail.template.buildTime}}</h4>
      <h4 class="custom-{{detail.template.custom}}">{{detail.customFlag}}</h4>
    </section>
    <section id="other-campaigns">
      <h3>Other Campaigns using {{detail.template.title}}</h3>
      <ul>
        <li ng-repeat="other in detail.otherCampaigns">
          <a href="#/{{other.shortCode}}">{{other.title}}</a>
        </li>
      </ul>
    </section>
  </div>
  <div id="campaign-viewer">
    <div id="iframe-loader">
      <div ng-spinner></div>
    </div>
    <iframe id="campaign-frame" class="fade-onload" ng-onload="detail.frameLoaded();" ng-src="{{detail.iframeURL}}"></iframe>
  </div>
</div>
