<div class="container">
  <h2>Find A Campaign</h2>
  <div class="row">
    <div class="col-sm-3"><input type="search" ng-model="search.$" placeholder="Quick Search" aria-label="Quick Search" /></div>
    <div class="col-sm-2 text-center">
      <select ng-model="search.topic">
        <option value="">Topic</option>
        <option ng-repeat="c in main.campaigns | unique:'topic'" value="{{c.topic}}">{{c.topic}}</option>
      </select>
    </div>
    <div class="col-sm-2 text-center">
      <select ng-model="search.type">
        <option value="">Type</option>
        <option ng-repeat="c in main.campaigns | unique:'type'" value="{{c.type}}">{{c.type}}</option>
      </select>
    </div>
    <div class="col-sm-2 text-center">
      <select ng-model="search.templateId">
        <option value="">Template</option>
        <option ng-repeat="c in main.campaigns | unique:'templateId'" value="{{c.templateId}}">{{c.templateTitle}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 filterpop" ng-repeat="c in main.campaigns | filter:search:strict as results">
      <div class="campaign-thumb"><p><a ng-click="main.slide('slidepage-l')" href="#/template/{{c.templateId}}/c/{{c.id}}">{{c.title}}</a></p>
      <p>{{c.templateTitle}}</p>
    </div>
    </div>
    <div class="col-sm-12 filterpop text-center" ng-if="results.length == 0">
      <strong>No results found...</strong>
    </div>
  </div>
</div>
<footer><div class="row">made with <i class="icon-heart heart-icon" aria-hidden="true"></i><span class="sr-only">love</span> by <span class="webq-text-logo"><span>hca</span>webQ</span></div></footer>
