<div id="main">
  <div class="wrapme">
    <div id="topbar">
      <header>
        <div id="navbar-header">
          <img class="webq-logo" src="http://web-q-hospital.prod.ehc.com/global/webq/img/HCAwebQ-logo-knockout-400x120.png" alt="HCA Web-Q" />
        </div>
        <div id="user-welcome" ng-if="$root.lpgUser">
          <span class="welcome-message">Welcome, {{$root.lpgUser.firstName}}!</span>
          <span class="user-notice">Not {{$root.lpgUser.firstName}}? <a class="switch-user" ng-click="$root.showUserModal()">Switch user</a></span>
        </div>
        <div id="navbar-search" ng-if="$root.lpgUser">
          <div class="search-wrapper">
            <input type="search" ng-model="main.filters.quicksearch" ng-change="main.filterResults()" placeholder="Quick Search" name="quick-search" id="quick-search" aria-label="Quick Search">
          </div>
        </div>
      </header>
      <section id="banner">
        <div>
          <img src="img/landing-page-gallery-banner.png" />
        </div>
      </section>
      <section id="filters">
        <div>
          <div class="filter-dropdown">
            <select ng-model="main.filters.topic" ng-change="main.filterResults()">
              <option value="">Topic</option>
              <option ng-repeat="t in main.topics track by $index" value="{{t}}">{{t}}</option>
            </select>
          </div>
          <div class="filter-dropdown">
            <select ng-model="main.filters.type" ng-change="main.filterResults()">
              <option value="">Type</option>
              <option ng-repeat="t in main.types track by $index" value="{{t}}">{{t}}</option>
            </select>
          </div>
          <div class="filter-dropdown">
            <select ng-model="main.filters.templateId" ng-change="main.filterResults()">
              <option value="">Template</option>
              <option ng-repeat="t in main.templates" value="{{t.id}}">{{t.title}}</option>
            </select>
          </div>
          <div class="clear-search">
            <a class="btn btn-clear" ng-click="main.clearSearch()"><span>Clear</span></a>
          </div>
        </div>
        <div id="disclaimer">
          <p><em>For best results, we reccommend exploring the gallery using one filter at time.</em></p>
        </div>
      </section>
    </div>
    <section id="thumbnail-gallery">
      <ul id="campaign-listing">
        <li class="campaign-thumbnail" ng-repeat="c in main.campaigns as results">
          <a ng-click="main.slide('slidepage-l')" href="#/{{c.shortCode}}">
            <div class="thumbnail-wrapper">
              <div class="faux-browser">
                <img src="img/cir.svg" />
              </div>
              <img src="http://web-q-hospital.prod.ehc.com/global/webq/landing-page-gallery/screenshots/{{c.id}}-d.png" />
            </div>
            <h3>{{c.title}}</h3>
            <h4>{{c.templateTitle}}</h4>
          </a>
        </li>
        <li id="no-results" ng-if="results.length == 0">
          <h2>Nothing Found</h2>
          <p>Sorry, but nothing matched your search criteria. Please try again with some different keywords or filter cominations.</p>
          <a class="btn btn-clear" ng-click="main.clearSearch()"><span>Clear Search</span></a>
        </li>
      </ul>
    </section>
  </div>
  <footer>
    <div>made with <span class="heart-icon" aria-hidden="true"></span>
      <span class="sr-only">love</span> by
      <img class="webq-logo" src="http://web-q-hospital.prod.ehc.com/global/webq/img/web-q-ko-logo-200.png" alt="HCA Web-Q" />
    </div>
  </footer>
</div>
