<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="landingPageGallery" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="landingPageGallery" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="landingPageGallery" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="landingPageGallery" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Landing Page Gallery</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="css/boilerplate.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.min.css">
  <script src="js/modernizr.min.js"></script>
</head>
<body>
  <div id="app-wrapper">
    <div id="app-viewer" ng-view class="{{pageTransition}}" autoscroll="false"></div>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  </div>
<div id="pageLoad" ng-if="loadingView">
  <div class="load-wrap">
    <img class="loading-logo" width="200" src="http://web-q-hospital.prod.ehc.com/global/webq/img/HCAwebQ-logo-knockout-400x120.png" alt="HCA Web-Q" />
    <object splash-animate id="svg-splash" data="img/splash.svg" type="image/svg+xml">
      Your browser doesn&rsquo;t support SVG
    </object>
    <div class="loading-text" ng-cloak ng-if="showLoadText">
      <span ng-if="!dataFetched">Loading&hellip;</span>
      <span ng-if="dataFetched && !splashFinished">Click anywhere to skip</span>
    </div>
    <div id="skip-it" ng-if="dataFetched" ng-click="$root.skipIntro=true;"></div>
  </div>
</div>
<div class="if-fade" id="divisionSelectModal" ng-if="!loadingView && $root.showDivisionSelect" ng-cloak>
  <div class="division-select-wrap">
    <h1>For the best experience, please tell us who you are.</h1>
    <label for="lpg-user-first" class="control-label">First Name</label>
    <input ng-model="tempUser.firstName" class="form-control" id="lpg-user-first" type="text" />
    <label for="lpg-user-last" class="control-label">Last Name</label>
    <input ng-model="tempUser.lastName" class="form-control" id="lpg-user-last" type="text" />
    <label for="lpg-user-email" class="control-label">Email Address</label>
    <input ng-model="tempUser.email" class="form-control" id="lpg-user-email" type="email" />
    <select id="division-select" ng-model="tempUser.division">
      <option value="">Select a division</option>
      <option value="Capital">Capital</option>
      <option value="Central and West Texas">Central and West Texas</option>
      <option value="Continental">Continental</option>
      <option value="East Florida">East Florida</option>
      <option value="Far West">Far West</option>
      <option value="Gulf Coast">Gulf Coast</option>
      <option value="Mid-America">Mid-America</option>
      <option value="Mountain">Mountain</option>
      <option value="North Florida">North Florida</option>
      <option value="North Texas">North Texas</option>
      <option value="San Antonio">San Antonio</option>
      <option value="South Atlantic">South Atlantic</option>
      <option value="Tristar">Tristar</option>
      <option value="West Florida">West Florida</option>
    </select>
    <a class="btn btn-select" ng-click="$root.setDivision(tempUser);"><span>Select Division</span></a>
  </div>
</div>
  <script src="js/lib.min.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>
